--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124

beautifulsoup4
requests
spacy
pytest
python-dotenv
llama-cpp-python==0.3.22
huggingface-hub
streamlit
sentence-transformers
rank_bm25
